---
import "../styles/styles.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogCard from "../layouts/BlogCard.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true })
);
---

<BaseLayout pageTitle="My Blog">
  <section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
      <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2
          class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          My Astro Learning Blog
        </h2>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
          This is where I will post about my journey learning Astro.
        </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-2">
        {allPosts.map(post => <BlogCard frontmatter={post} />)}
      </div>
    </div>
  </section>
  <script
    is:inline
    src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"
  ></script>
</BaseLayout>
